<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Zoo" connectionString="Server=localhost;Database=ZooDb;Trusted_Connection=True;"/>
    </connectionStrings>
    <appSettings>
        <add key="AnimalSerializationPath" value=".\\animals.kek" />
        <add key="FoodSerializationPath" value=".\\food.kek" />
    </appSettings>
</configuration>